table {
    border-collapse: collapse;
    width: 50%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #131631
}

th {
    background-color: #ff248e;
    color: rgb(213, 165, 187);
}